<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/googlefonts.css" />
	<link rel="stylesheet" type="text/css" href="static/userbasicinfo.css" />
	<link rel="stylesheet" type="text/css" href="static/all.css" />

</head>
<body>
	{% if user: %}
	<div style="align:top-left; float:right; color:white;margin:10px;">
		<p><a href='{{ url }}' class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-power-off" aria-hidden="true"></i></a></p>
	</div>
	<div style="align:top-right; float:right; color:white;padding: 10px !important;">
		<p><a class="btn profile-edit-btn" style="text-decoration: none;" href='/'>Home</a></p>
	</div>

<div id="wrapper">
  <div class="main-content">
    <div class="header">
      <!--<img src="https://i.imgur.com/zqpwkLQ.png" />-->
	  <h1>Create Post</h1>
    </div>
    <div class="l-part">
			{% for usr in list: %}
		<form action="{{ link }}" method="post" enctype="multipart/form-data">
		  <input type="hidden" name="userid" id="userid" value="{{usr.key.id()}}" class="input-1" />
		  <div class="overlap-text">
			<input type="email" placeholder="Email" class="input-2" value={{usr.email_address}} disabled/>
			<input type="text" placeholder="Caption" class="input-2" name="caption" id="caption" maxlength="50" required/>
			<input type="file" accept="image/*" name="file" placeholder="Select Your Picture" class="input-2" required/>
		  </div>
		  <input type="submit" value="SAVE" class="btn" />
		</form>
		{% endfor %}
    </div>
  </div>
</div>
{% else %}
<div id="wrapper">
  <div class="main-content">
    <div class="header">
      <!--<img src="https://i.imgur.com/zqpwkLQ.png" />-->
	  <h1>Please LogIn</h1>
		<p>you can {{ url_string }} <a href='{{ url }}'>here</a></p>
		{% endif %}
    </div>
	</div>
	</div>
</body>
</html>
